

<!-- <div class="row">
  <div class="col">
    
        <img src="./assets/img/fondo1.jpeg" alt="Fondo Encabezado"
             style="width: 100%; height: 10%;"         >
    
  </div>
 
</div> -->







<div class="row"  style="background-image: url('assets/img/fondo1.jpeg')">
  <div class="col-auto" style="padding-top: 30px; padding-left: 140px;">
    <a href="index.html" class="logo" title="Marianela Matheus González">
        <img src="./assets/img/MarianelaFotoLibro.jpeg" class="img-thumbnail  rounded mx-auto d-block" alt="Foto Autora"         >
    </a>
  </div>
  <div class="col">
    <p class="fuentenombre text-center"> Marianela Matheus González</p>
  </div>
</div>




<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #e0d3c9e0;">
  <div class="container-fluid">
    <div class="col-auto header-fixed-col logo-wrapper" style="padding-left: 5px;">
      <a routerLink="/" class="logo" title="Los Cuatro Elementos de la Verdad">
          <img [src] = elLibro alt="Portada libro"> 
      </a>
      <h2 style="padding-left: 10px;"> Los Cuatro Elementos de la Verdad</h2>
      
      <a href="https://www.amazon.com/-/es/Marianela-Matheus-González-ebook/dp/B0CGM9XBMK/ref=sr_1_1?__mk_es_US=ÅMÅŽÕÑ&crid=1R1DWWPI4KB8K&keywords=los+cuatro+elementos+de+la+verdad+Dios+amor&qid=1696878940&sprefix=los+cuatro+elementos+de+la+verdad+dios+amo%2Caps%2C1499&sr=8-1" class="logo" title="Compralo en Amazon">
        <img src = "./assets/img/disponibleAmazon1.png" style="padding-left: 10%;" alt="Disponible en Amazon"> 
    </a>
    </div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Sobre Mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/libro">Libro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts">Contacto</a>
        </li>

      </ul>

    </div>
  </div>
</nav>




 