			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a routerLink="/" >Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>404</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center section-heading-animate">
								<div class="section-subheading">Página no Encontrada</div>
								<h1>404</h1>
								<p class="section-desc">Página pudo haber sido movida a otra dirección</p>
							</div> 
							<div class="btn-group align-items-center justify-content-center">
								<a routerLink="/" class="btn btn-with-icon  ripple">
									<span>Ir a Inicio</span>
									<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
										<use xlink:href="assets/img/sprite.svg#arrow-right"></use>
									</svg>
								</a>
								<a routerLink="/contacts" class="btn btn-border btn-with-icon ripple">
									<span>Contacto</span>
									<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
										<use xlink:href="assets/img/sprite.svg#arrow-right"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
