			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a routerLink="/">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>Contacto</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row content-items">
						<div class="col-12">
							<div class="section-heading">
								<div class="section-subheading">Siempre estamos en contacto</div>
								<h1>Contactos</h1>
							</div>
						</div>
						<div class="col-xl-4 col-md-5 content-item">
							<div class="contact-info section-bgc">
								<h3>Ponerse en contacto</h3>
								<ul class="contact-list">
									<li>
										<i class="material-icons material-icons-outlined md-22">location_on</i>
										<div class="footer-contact-info">
											<a href="https://www.google.com/maps/place/Servicomputer/@7.7987107,-72.2220388,17z/data=!3m1!4b1!4m6!3m5!1s0x8e666dc3dc2f916d:0xb1acb8057b93ac7e!8m2!3d7.7987054!4d-72.2194585!16s%2Fg%2F11h1l1dbrt?entry=ttu">
												Ventas CC Santa Teresa Local 11 San Cristóbal Venezuela
											</a>
										</div>
									</li>
									<li>
										<i class="material-icons material-icons-outlined md-22">smartphone</i>
										<div class="footer-contact-info">
											<a href="tel:+584147080657" class="formingHrefTel">+58 414-708-0657</a>
											<a href="tel:+584124606520" class="formingHrefTel">+58 412-460-6520</a>
										</div>
									</li>
									<li>
										<i class="material-icons material-icons-outlined md-22">email</i>
										<div class="footer-contact-info">
											<a href="mailto:mail@example.com">marianela0909mg@gmail.com</a>
											<a href="mailto:info@example.com">mari_m_g3@hotmail.com</a>
										</div>
									</li>
									<li>
										<i class="material-icons material-icons-outlined md-22">schedule</i>
										<div class="footer-contact-info"><p>Lunes - Sábado: 9:00 am - 06:00 pm</p></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-8 col-md-7 content-item">
							<form action="#!" method="post" class="form-submission contact-form contact-form-padding" novalidate>
								<input type="hidden" name="Subject" value="Contact form">
								<div class="row gutters-default">
									<div class="col-12">
										<h3>Formulario de contacto</h3>
									</div>
									<div class="col-xl-4 col-sm-6 col-12">
										<div class="form-field">
											<label for="contact-name" class="form-field-label">Nombre completo</label>
											<input type="text" class="form-field-input" name="Name" value="" autocomplete="off" id="contact-name" required data-pristine-required-message="Este campo es requerido.">
										</div>
									</div>
									<div class="col-xl-4 col-sm-6 col-12">
										<div class="form-field">
											<label for="contact-phone" class="form-field-label">Numero teléfono</label>
											<input type="tel" class="form-field-input mask-phone" name="Phone" value="" autocomplete="off" id="contact-phone" required data-pristine-required-message="Este campo es requerido.">
										</div>
									</div>
									<div class="col-xl-4 col-12">
										<div class="form-field">
											<label for="contact-email" class="form-field-label">Correo electrónico</label>
											<input type="email" class="form-field-input" name="Email" value="" autocomplete="off" id="contact-email" required data-pristine-required-message="Este campo es requerido." data-pristine-email-message="Por favor indique un correo válido.">
										</div>
									</div>
									<div class="col-12">
										<div class="form-field">
											<label for="contact-message" class="form-field-label">Mensaje</label>
											<textarea name="Message" class="form-field-input" id="contact-message" cols="30" rows="6"></textarea>
										</div>
										<div class="form-btn">
											<button type="submit" class="btn btn-w240 ripple"><span>Enviar</span></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


			<!-- Begin map -->
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7905.784849442343!2d-72.21951019375233!3d7.801212528964112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e666dc3dc2f916d%3A0xb1acb8057b93ac7e!2sServicomputer!5e0!3m2!1ses!2sve!4v1697229266384!5m2!1ses!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
            <!-- End map -->
