<div class="section-bgc intro" style="padding: 20px;">
    <div class="intro-item intro-item-type-1" style="background-image: url('assets/img/intro-img5.jpg')">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="intro-content" style="--margin-left: 4rem;">
                        <div class="section-heading shm-none">
                            <div class="section-subheading">Libro</div>
                            <h1>Los Cuatro Elementos de la Verdad,</h1>
                            <p class="section-desc">Dios-Amor-Vida-Bien. Cuatro palabras de cuatro letras, para cambiar tu Vida. ES UN RETO</p>
                            <p class="section-desc">
                                DIOS-AMOR-VIDA-BIEN 
                                Libro inspirado en Dios, tiene la intención, de ser un mensaje que enseñe y entrene con dulzura e inspire, así, tanto el alma de los seres que están en búsqueda de estas cuatro palabras, de cuatro letras, más aun la quinta que es el RETO, como a los que conocen de estos cuatros elementos, y que sus corazones ansían hacer las cosas bien, pero que no saben cómo mantener correctamente una buena conexión con Dios, como fuente divina de donde procedemos, o lo que es igual, desconocen cómo llevar su vida espiritual conforme a los principios del amor, y todo, por vivir de la forma en que vivimos, tiempos modernos llenos de conflictos, divisiones y  prejuicios. Una alteración de valores que esta dominando nuestra sociedad y confundiéndola cada vez más, sin saber diferenciar que está mal o que está bien. 
                                En placer y alegría de enseñar, la escritora presenta opiniones para comprensión de la relevancia de Los Cuatros Elementos de la Verdad en la vida de cada ser humano. DIOS-AMOR-VIDA-BIEN, cuatros palabras de cuatro letras, que a cada lector lo hará estar preparado para toda obra buena.
                            </p>
                            <div class="row">
                                <div class="col-auto" style="padding-top: 30px; padding-left: 140px;">
                                  <a href="https://www.amazon.com/-/es/Marianela-Matheus-González-ebook/dp/B0CGM9XBMK/ref=sr_1_1?__mk_es_US=ÅMÅŽÕÑ&crid=1R1DWWPI4KB8K&keywords=los+cuatro+elementos+de+la+verdad+Dios+amor&qid=1696878940&sprefix=los+cuatro+elementos+de+la+verdad+dios+amo%2Caps%2C1499&sr=8-1"
                                     class="logo" title="Disponible en Amazon">
                                      <img src="./assets/img/disponibleAmazon.png" class="img-thumbnail rounded mx-auto d-block" alt="Amazon">
                                  </a>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

