<!-- Begin footer -->

<footer class="footer footer-minimal">
    <div class="footer-main">
        <div class="container">
            <div class="row items align-items-center">
                <!-- <div class="col-md-auto col-12 item text-center">
                    <div class="widget-brand-info">
                        <div class="widget-brand-info-main">
                            <a routerLink="/"  title="Los Cuatro Elementos de la Verdad">
                                <img width="100"  src="assets/img/libro.jpeg" alt="Libro" data-loaded="true" >
                            </a>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-auto col-12 item text-center">
                    <div >
                        <div >
                            <a href="https://www.instagram.com/marianelamatheus09/" target="_blank" title="@marianelamatheus09">
                                <img src="assets/img/logo-instagram.png" alt="Instagram" data-loaded="true" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-12 item text-center">
                    <div >
                        <div >
                            <h3 style="color: black;">@marianelamatheus09</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-12 item text-center">
                    <div >
                        <div >
                            
                            <a href="https://www.instagram.com/marianelamatheus09/" target="_blank" title="Perfil Instagram">
                                <img width="100"  src="assets/img/perfil-instagram.jpeg" alt="Perfil Instagram" data-loaded="true" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-12 item text-center">
                    <div >
                        <div >
                            
                            <a href="https://www.instagram.com/p/CvGhUSQrKq4/?img_index=1" target="_blank" title="Publicación Instagram">
                                <img width="200"  src="assets/img/publicacion-instagram.png" alt="Perfil Instagram" data-loaded="true" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row items align-items-center">
                <div class="col-md-auto col-12 item text-center">
                    <div >
                        <div >
                            <a href="https://www.facebook.com/loscuatroelementosdelaverdad" target="_blank" title="Facebook">
                                <img width="200" src="assets/img/logo-facebook.png" alt="Instagram" data-loaded="true" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-12 item text-center">
                    <div >
                        <div >
                            <h3 style="color: black;">@loscuatroelementosdelaverdad</h3>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-auto col-12 item text-center" style="padding-left: 18px; padding-top: 1%;">
                    <div >
                        <div >
                            
                            <a href="https://www.facebook.com/photo?fbid=193395660461030&set=a.118907127909884" target="_blank" title="Publicación Facebook">
                                <img width="200"  src="assets/img/publicacion-facebook.png" alt="Perfil Instagram" data-loaded="true" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row items align-items-center">
                <div class="col-md-auto col-12 item text-center">
                    <div >
                        <div >
                            <a href="https://www.youtube.com/@marianelamatheusgonzalez" target="_blank" title="YouTube">
                                <img width="200" src="assets/img/logo-youtube.png" alt="Instagram" data-loaded="true" >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-12 item text-center">
                    <div >
                        <div >
                            <h3 style="color: black;">@marianelamatheusgonzalez</h3>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-auto col-12 item text-center" style="padding-left: 68px; padding-top: 2%;">
                    <div >
                        <div >
                            
                            <a href="https://www.youtube.com/watch?v=0YgTAa1AP0I&t=10s4" target="_blank" title="Publicación Youtube">
                                <img width="200"  src="assets/img/publicacion-youtube.png" alt="Perfil Instagram" data-loaded="true" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between items">
                <!-- <div class="col-md-auto col-12 item">
                    <nav class="footer-links">
                        <ul>
                            <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div> -->
                <div class="col-md-auto col-12 item text-center">
                    <div class="copyright" style="color: black;">© {{year}} SoftMillenium. Todos los derechos reservados.</div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End footer -->


